* {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Big Shoulders Display', cursive;
}

nav {
  margin: -12px 0 20px;
  height: 15vh;
}

nav .container--menu {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px 0 #333;
          box-shadow: 0 5px 5px 0 #333;
  margin-top: auto;
}

nav .container--titulo {
  width: 100%;
  border: 15px solid #000;
  border-radius: 20px;
  padding: 0 20px;
  border-top: none;
  border-bottom: none;
  text-align: center;
}

nav .navbar-nav {
  margin-left: auto;
}

nav .nav-link {
  font-size: 1.3rem;
}

nav a.nav-link {
  /* color:#fff; */
  /* background-color: black; */
  z-index: 10;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
  background: linear-gradient(#fff, #000);
}

.container--index {
  /* background-color: #fff; */
  height: 70%;
}

.container--index .container__div--slider {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  height: 19rem;
  /* background-color: #fff; */
  -webkit-box-shadow: 0 5px 5px 0 #444;
          box-shadow: 0 5px 5px 0 #444;
}

.container--index .img-crs {
  width: 11rem;
  height: 19rem;
}

/* SECCION LANZAMIENTOS INDEX */
.container--noticias {
  margin-top: 15px;
  /* height: 70vh; */
  /* background-color: #fff; */
}

.container--noticias .container__div--titulo {
  margin: 2% auto 1% auto;
  width: 80%;
  background: #aaa;
  /* border: 2px solid #fff; */
  -webkit-box-shadow: 0px 5px 5px 0 #444;
          box-shadow: 0px 5px 5px 0 #444;
}

.container--noticias .container__div--titulo .div__titulo--noticias {
  font-size: 1.5rem;
  padding: 5px;
  color: #000;
}

.container__div--noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  /* background-color: #ddd; */
  border-radius: 5px;
}

.container__div--noticias .div__item--noticia {
  margin: 1% 1% 2% 1%;
  width: 325px;
  /* min-width: 300px; */
  height: 20%;
  /* min-height: 400px; */
  color: #000;
  -webkit-box-shadow: 0 5px 5px 0 #000;
          box-shadow: 0 5px 5px 0 #000;
  border-radius: 5px;
  background-color: #aaa;
}

.container__div--noticias .div__item--noticia .container__div--imagen {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

.container__div--noticias .div__item--noticia .container__div--imagen .foto-noticia {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container__div--noticias .div__item--noticia .div__titulo--noticia {
  text-align: center;
}

.container__div--noticias .div__item--noticia .div__texto--noticias {
  font-size: 0.8rem;
  text-align: center;
  color: #222;
}

/* FOOTER */
footer {
  height: 35vh;
}

footer .container__titulo--3 {
  color: #fff;
}

footer .container__div--redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  width: 100%;
}

footer .container__div--redes .div__item--redes {
  width: 4%;
  height: 4%;
  margin: 1% 4%;
  /* background-color: #000; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .container__div--redes .div__item--redes .logo-redes {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .container__div--redes .div__item--redes .logo-redes:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media only screen and (max-width: 321px) {
  nav {
    margin: -12px 0 20px;
    height: 15vh;
  }
  nav .container--menu {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 5px 0 #333;
            box-shadow: 0 5px 5px 0 #333;
    margin-top: auto;
  }
  nav .container--titulo {
    max-width: 300px;
    min-width: 200px;
    border: 15px solid #000;
    border-radius: 20px;
    margin: 0 3%;
    padding: 0 20px;
    border-top: none;
    border-bottom: none;
    text-align: center;
  }
  nav button.navbar-toggler {
    width: 30%;
    height: 30%;
    margin: -0.3rem auto 0.5rem auto;
  }
  nav button.navbar-toggler span.navbar-toggler-icon {
    margin: auto -8px;
  }
  nav .navbar-collapse {
    z-index: 100;
    height: 200%;
  }
  nav a.nav-link {
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 1rem;
    z-index: 999;
  }
  .container--index {
    /* background-color: #fff; */
    height: 60vh;
  }
  .container--index .container__div--slider {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 12rem;
  }
  .container--index .img-crs {
    margin-top: 15%;
    width: 11rem;
    height: 10rem;
  }
  /* SECCION LANZAMIENTOS INDEX */
  .container--noticias .container__div--titulo {
    margin: 1% auto 10% auto;
    width: 80%;
    font-size: 1rem;
    -webkit-box-shadow: 0px 5px 5px 0 #444;
            box-shadow: 0px 5px 5px 0 #444;
  }
  .container--noticias .container__div--titulo .div__titulo--noticias {
    font-size: 1rem;
    padding: 5px;
    color: #000;
  }
  .container__div--noticias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    /* background-color: #ddd; */
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia {
    margin: 2% 1% 2% 1%;
    width: 250px;
    height: 300px;
    color: #000;
    -webkit-box-shadow: 0 5px 5px 0 #333;
            box-shadow: 0 5px 5px 0 #333;
    background-color: #aaa;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .div__titulo--noticia {
    text-align: center;
    font-size: 1rem;
  }
  .container__div--noticias .div__item--noticia .div__texto--noticias {
    font-size: 0.45rem;
    text-align: center;
    margin-top: -10px;
    color: #222;
  }
  /* FOOTER */
  footer {
    height: 25vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 10%;
    height: 10%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 321px) and (max-width: 390px) {
  nav {
    margin: -12px 0 20px;
    height: 15vh;
  }
  nav .container--menu {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 5px 0 #333;
            box-shadow: 0 5px 5px 0 #333;
    margin-top: auto;
  }
  nav .container--titulo {
    max-width: 300px;
    min-width: 200px;
    border: 15px solid #000;
    border-radius: 20px;
    margin: 0 15%;
    padding: 0 20px;
    border-top: none;
    border-bottom: none;
    text-align: center;
  }
  nav button.navbar-toggler {
    width: 30%;
    height: 30%;
    margin: -0.3rem auto 0.5rem auto;
  }
  nav button.navbar-toggler span.navbar-toggler-icon {
    margin: auto -8px;
  }
  nav .navbar-collapse {
    z-index: 100;
    height: 200%;
  }
  nav a.nav-link {
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 1rem;
    z-index: 999;
  }
  .container--index {
    /* background-color: #fff; */
    height: 60vh;
  }
  .container--index .container__div--slider {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 12rem;
  }
  .container--index .img-crs {
    margin-top: 15%;
    width: 100%;
    height: 10rem;
  }
  /* SECCION LANZAMIENTOS INDEX */
  .container--noticias .div__titulo--noticias {
    font-size: 1.2rem !important;
  }
  .container__div--noticias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    /* background-color: #ddd; */
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia {
    margin: 2% 1% 2% 1%;
    width: 285px;
    height: 325px;
    color: #000;
    -webkit-box-shadow: 0 5px 5px 0 #000;
            box-shadow: 0 5px 5px 0 #000;
    background-color: #aaa;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .div__titulo--noticia {
    text-align: center;
    font-size: 1.2rem;
  }
  .container__div--noticias .div__item--noticia .div__texto--noticias {
    font-size: 0.5rem;
    text-align: center;
    margin-top: -10px;
    color: #222;
  }
  /* FOOTER */
  footer {
    height: 25vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 10%;
    height: 10%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 390px) and (max-width: 480px) {
  nav {
    margin: -12px 0 20px;
    height: 15vh;
  }
  nav .container--menu {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 5px 0 #333;
            box-shadow: 0 5px 5px 0 #333;
    margin-top: auto;
  }
  nav .container--titulo {
    width: 100%;
    border: 15px solid #000;
    border-radius: 20px;
    margin: 0 15%;
    padding: 0 60px;
    border-top: none;
    border-bottom: none;
    text-align: center;
  }
  nav button.navbar-toggler {
    width: 20%;
    height: 25%;
    margin: -0.3rem auto 0.5rem auto;
  }
  nav button.navbar-toggler span.navbar-toggler-icon {
    margin: auto -8px;
  }
  nav .navbar-collapse {
    z-index: 100;
    height: 200%;
  }
  nav a.nav-link {
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 1rem;
    z-index: 999;
  }
  .container--index {
    /* background-color: #fff; */
    height: 60vh;
  }
  .container--index .container__div--slider {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 12rem;
  }
  .container--index .img-crs {
    margin-top: 5%;
    width: 100%;
    height: 11rem;
  }
  /* SECCION LANZAMIENTOS INDEX */
  .container__div--noticias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    /* background-color: #ddd; */
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia {
    margin: 2% 1% 2% 1%;
    width: 285px;
    height: 325px;
    color: #000;
    -webkit-box-shadow: 0 5px 5px 0 #333;
            box-shadow: 0 5px 5px 0 #333;
    background-color: #aaa;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .div__titulo--noticia {
    text-align: center;
    font-size: 1.2rem;
  }
  .container__div--noticias .div__item--noticia .div__texto--noticias {
    font-size: 0.5rem;
    text-align: center;
    margin-top: -10px;
    color: #222;
  }
  /* FOOTER */
  footer {
    height: 25vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 10%;
    height: 10%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}

/*---------------- COMIENZA RESPONSIVE CON 768PX ------------------------*/
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-collapse {
    z-index: 100;
    height: 200%;
  }
  a.nav-link {
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 1rem;
    z-index: 999;
  }
  .container--index {
    /* background-color: #fff; */
    height: 60vh;
  }
  .container--index .container__div--slider {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 13rem;
  }
  .container--index .container__div--slider .img-crs {
    width: 100%;
    height: 13rem;
  }
  footer {
    height: 25vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 10%;
    height: 10%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}

/* ARRANCA RESPONNSIVE 768 - 1024 */
@media (min-width: 768px) and (max-width: 990px) {
  .navbar-collapse {
    z-index: 100;
    height: 200%;
  }
  a.nav-link {
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 1rem;
    z-index: 999;
  }
  .container--index {
    /* background-color: #fff; */
    height: 75vh;
  }
  .container--index .container__div--slider {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 15rem;
  }
  .container--index .img-crs {
    width: 100%;
    height: 15rem;
  }
  /* FOOTER */
  footer {
    height: 28vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 8%;
    height: 10%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}

/* COMIENZA RESPONSIVE HASTA 1200PX */
@media (min-width: 992px) and (max-width: 1045px) {
  a.nav-link {
    /* color:#fff; */
    /* background-color: black; */
    z-index: 10;
    font-size: 1rem;
  }
  .container--index {
    /* background-color: #fff; */
    height: 80vh;
  }
  .container--index .container__div--slider {
    margin: 5vh auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 16rem;
  }
  .container--index .img-crs {
    width: 100%;
    height: 16rem;
  }
  .container__div--noticias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    /* background-color: #ddd; */
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia {
    margin: 1% 10% 2% 1%;
    width: 325px;
    /* min-width: 300px; */
    height: 20%;
    /* min-height: 400px; */
    color: #000;
    -webkit-box-shadow: 0 5px 5px 0 #000;
            box-shadow: 0 5px 5px 0 #000;
    border-radius: 5px;
    background-color: #aaa;
  }
  .container__div--noticias .div__item--noticia .container__div--imagen {
    width: 100%;
    height: 70%;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .container__div--imagen .foto-noticia {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .div__titulo--noticia {
    text-align: center;
  }
  .container__div--noticias .div__item--noticia .div__texto--noticias {
    font-size: 0.8rem;
    text-align: center;
    color: #222;
  }
  /* FOOTER */
  footer {
    height: 28vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 6%;
    height: 8%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1045px) and (max-width: 1200px) {
  .container--index {
    /* background-color: #fff; */
    height: 80vh;
  }
  .container--index .container__div--slider {
    margin: 5vh auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 16rem;
  }
  .container--index .img-crs {
    width: 100%;
    height: 16rem;
  }
  .container__div--noticias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    /* background-color: #ddd; */
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia {
    margin: 1% 10% 2% 1%;
    width: 325px;
    /* min-width: 300px; */
    height: 20%;
    /* min-height: 400px; */
    color: #000;
    -webkit-box-shadow: 0 5px 5px 0 #000;
            box-shadow: 0 5px 5px 0 #000;
    border-radius: 5px;
    background-color: #aaa;
  }
  .container__div--noticias .div__item--noticia .container__div--imagen {
    width: 100%;
    height: 70%;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .container__div--imagen .foto-noticia {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .div__titulo--noticia {
    text-align: center;
  }
  .container__div--noticias .div__item--noticia .div__texto--noticias {
    font-size: 0.8rem;
    text-align: center;
    color: #222;
  }
  /* FOOTER */
  footer {
    height: 28vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 6%;
    height: 8%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .container--index {
    /* background-color: #fff; */
    height: 80vh;
  }
  .container--index .container__div--slider {
    margin: 5vh auto;
    -webkit-box-shadow: 0 5px 5px 0 #444;
            box-shadow: 0 5px 5px 0 #444;
    height: 16rem;
  }
  .container--index .img-crs {
    width: 100%;
    height: 16rem;
  }
  .container__div--noticias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    /* background-color: #ddd; */
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia {
    margin: 1% 5% 2% 5%;
    width: 325px;
    /* min-width: 300px; */
    height: 20%;
    /* min-height: 400px; */
    color: #000;
    -webkit-box-shadow: 0 5px 5px 0 #000;
            box-shadow: 0 5px 5px 0 #000;
    border-radius: 5px;
    background-color: #aaa;
  }
  .container__div--noticias .div__item--noticia .container__div--imagen {
    width: 100%;
    height: 70%;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .container__div--imagen .foto-noticia {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .container__div--noticias .div__item--noticia .div__titulo--noticia {
    text-align: center;
  }
  .container__div--noticias .div__item--noticia .div__texto--noticias {
    font-size: 0.8rem;
    text-align: center;
    color: #222;
  }
  /* FOOTER */
  footer {
    height: 30vh;
    margin-top: 3%;
  }
  footer .container__titulo--3 {
    color: #fff;
  }
  footer .container__div--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10%;
    width: 100%;
  }
  footer .container__div--redes .div__item--redes {
    width: 6%;
    height: 8%;
    margin: 1% 6%;
  }
  footer .container__div--redes .div__item--redes .logo-redes {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=estilo-nuevo.css.map */